@use "../utils/" as *;

.footer {
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--av);

  &__setup {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;

    @include breakpoint-down("small") {
      max-width: 95%;
    }

    @include breakpoint-down(smaller) {
      grid-template-columns: 0.7fr 1fr 1fr;
    }
  }

  &__contact {
    color: #000000;
    align-self: center;
  }

  &__links,
  &__contact {
    list-style: none;
    text-align: center;
    font-size: rem(20);

    @include breakpoint-down(small) {
      font-size: rem(15);
    }

    @include breakpoint-down(smaller) {
      font-size: rem(10);
    }
  }

  &__links li,
  &__contact div {
    font-weight: 800;
    margin-bottom: rem(10);
  }

  &__contact .main span {
    margin: 0 rem(10);
  }

  &__contact .icon {
    display: flex;
    justify-content: center;
    gap: rem(20);
    font-size: rem(30);
    margin: 0;

    @include breakpoint-down("small") {
      gap: rem(10);
      font-size: rem(25);
    }

    @include breakpoint-down(smaller) {
      font-size: rem(20);
    }
  }
}

.icon a,
.main a {
  color: #000000;
}

h2.footer__name {
  margin: 0;
  font-size: rem(30);

  @include breakpoint-down("small") {
    font-size: 100%;
    text-align: center;
  }

  @include breakpoint-down(smaller) {
    transform: rotate(-90deg);
    padding: 0;
    font-size: rem(12);
  }
}

.footer__links a {
  color: #969696;
}

.footer p {
  padding: rem(10) 0;
  margin: 0;
  text-align: center;
  font-weight: bold;
  grid-column: 2/3;
  border-top: #444 1px solid;

  @include breakpoint-down(smaller) {
    font-size: rem(10);
  }
}
