.talent-box {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  gap: 3%;
  align-items: center;
}

.explore {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  align-items: center;
}

.talent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gradient-border {
  position: relative;
}
.gradient-border::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: -1;
  border-top: 1px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(32, 34, 41, 0.37) 99.01%
  );
  border-image-slice: 1;
}

.groove {
  width: 200px;
  margin: 15px 0px;
}
